@charset "UTF-8";
/* CSS Document */

/****************************
		Override theme
****************************/

#homePage h1
{
	display:inline-block;
}

.dialog img
{
	width: 100%;
}
.dialog h4
{
	padding-top: 0px;
	text-align: center;
}
.content
{
	padding-top: 0%;
}

/*
p, li, a{
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: 1.6rem;
	line-height: 1.5;
	color: #444;
	padding: 1.5rem 20px;
}
*/


